.col-md-offset-2
  %h2 Увійти в систему
.col-md-offset-4
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .row
      .col-md-6
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
    %br
    .row
      .col-md-6
        = f.label "Пароль"
        %br/
        = f.password_field :password, autocomplete: "off",  class: 'form-control'
    %br
    .row
      .actions
        = f.submit "Увійти", class: 'btn btn-success'