!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DentistCabinet
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-top.navbar-inverse
      .col-sm-offset-1.col-sm-10
        .navbar-header
          .col-sm-1
            %button.navbar-brand
              %a{"href"=>root_path, "target"=>"_self"}
                %span.glyphicon.glyphicon-home
    - if notice
      .alert.alert-success.alert-dismissible.col-md-6.col-md-offset-3
        = notice
        %button{ 'type' => "button", 'class' => "close", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{ "aria-hidden" => "true"}= 'x';
    - if alert
      .alert.alert-danger.alert-dismissible.col-md-6.col-md-offset-3
        = alert
        %button{ 'type' => "button", 'class' => "close", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{ "aria-hidden" => "true"}= 'x';
    .container
      = yield
